.header_container {
    position: sticky;
    top: 0;
    height: 5rem;
    background-color: #dcdc5b;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    position: relative; /* Нужно для абсолютного позиционирования заголовка */
}

.header_title_container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Центрирование заголовка */
    display: flex;
    align-items: center;
}

.header_button_container {
    display: flex;
    margin-left: auto; /* Кнопки будут прижаты к правому краю */
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}
